@{
    ViewData["Title"] = "AnalizPEM";
    //ViewBag.RepList = @nadis.DAL.nadis.spDAL.ReportToToday();
}
<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="PEM">
                <input type="submit" value="Отчет ПЭМ" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>

@if (@ViewData["Role"].ToString().Trim() == "Admin")
    {
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dtR",ViewBag.RepListAdm as SelectList)
                @Html.DropDownList("RaionID",ViewBag.RaionList as SelectList)
                @Html.DropDownList("OblID",ViewBag.OblList as SelectList)
                @Html.DropDownList("r",ViewBag.ReportsList as SelectList)
                <select id="Tip" name="Tip">
                        <option value="month">за выбранный месяц</option>
                        <option value="Inc">Нарастающий с нач года</option>
                </select>
                <input type="submit" value="Отчет ЦА" asp-controller="Reports"
                    asp-action="GetReportCA" method="GET"
                    asp-route-dtR="dtR" 
                    asp-route-RaionID="RaionID" 
                    asp-route-OblID="OblID" 
                    asp-route-r="r"
                    asp-route-Tip="Tip"
                    class="btn btn-success"/>
                    <br>
                @Html.DropDownList("Rr",ViewBag.RaznarydkaList as SelectList)
                <input type="submit" value="Разнарядка" asp-controller="Reports"
                    asp-action="GetReportRaznarydka" method="GET"
                    asp-route-dtR="dtR" 
                    asp-route-RaionID="RaionID" 
                    asp-route-OblID="OblID" 
                    asp-route-Rr="Rr"
                    asp-route-Tip="Tip"
                    class="btn btn-success"/>

                @Html.DropDownList("Rr2",ViewBag.PererashodList as SelectList)
                <input type="submit" value="Перерасход" asp-controller="Reports"
                    asp-action="GetReportPererashod" method="GET"
                    asp-route-dtR="dtR" 
                    asp-route-RaionID="RaionID" 
                    asp-route-OblID="OblID" 
                    asp-route-Rr2="Rr2"
                    asp-route-Tip="Tip"
                    class="btn btn-success"/>
                <br>
                @Html.DropDownList("Bolezni",ViewBag.BolezniList as SelectList)
                @Html.DropDownList("KIDSpc",ViewBag.Spc as SelectList)
                <input type="submit" value="Заболеваемость" asp-controller="Reports"
                    asp-action="GetReportZabolevaemost" method="GET"
                    asp-route-dtR="dtR" 
                    asp-route-Bolezni="Bolezni"
                    asp-route-KIDspc="IDSpc"
                    class="btn btn-success"/>
       </form>
</td>
    }
</tr>
</tbody>
</table>
