@model nadis.Models.Reports
@{
    ViewData["Title"] = "Report Generator";
}
<!--
<a class="btn btn-danger"   asp-controller="Reports"
                            asp-action="GetReportInPdf"
                            asp-route-dtR="@Model.dt"
                            asp-route-ReportName="@Model.ReportName"
                            >PDF</a>
<a class="btn btn-danger"   asp-controller="Reports"
                            asp-action="GetReportInHTML"
                            asp-route-dtR="@Model.dt"
                            asp-route-ReportName="@Model.ReportName"
                            >HTML</a>
<a class="btn btn-danger"   asp-controller="Reports"
                            asp-action="GetReportInExcel"
                            asp-route-dtR="@Model.dt"
                            asp-route-ReportName="@Model.ReportName"
                            >Excel</a>
-->
<p></p>
<div class="container">
    <div class="webreport">
        @await Model.report.Render()
    </div>
</div>