@model nadis.Models.User
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление пользователя</h1>
<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserFullname)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KIDro)
        </dt> 
        <dt>
            @Html.DisplayNameFor(model => model.reportDt)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="UsersEdit">К списку</a>
    </form>


