@model IEnumerable<nadis.Models.User>
@{
    ViewData["Title"] = "UsersEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red" size=18>@TempData["EM"]</font>

<table class="table table-striped table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => tmp.UserFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tmp.Id">Редак.</a>&nbsp;&nbsp;
                    <a asp-action="Delete" asp-route-id="@tmp.Id">Удал.</a>
                </td>
            </tr>
        }
    </tbody>
</table>