@model nadis.Models.CtVet1b
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать </h1><h3>ctVet1b</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KIDro" />
            <div class="form-group">
                <label asp-for="KIDro" class="control-label"></label>
                <span asp-validation-for="KIDro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="repMO" class="control-label"></label>
                @Html.DropDownList("repMO", ViewBag.RepMoList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="repMO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KIDdivDisplay" class="control-label"></label>
                @Html.DropDownList("KIDdiv", ViewBag.KIDdivList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="KIDdiv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="dtObs" class="control-label"></label>
                <input asp-for="dtObs" class="form-control" type="date"/>
                <span asp-validation-for="dtObs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KIDspcDisplay" class="control-label"></label>
                @Html.DropDownList("KIDspc", ViewBag.KIDspcList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="KIDspc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KIDdisDisplay" class="control-label"></label>
                @Html.DropDownList("KIDdis", ViewBag.KIDdisList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="KIDdis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="testDisplay" class="control-label"></label>
                @Html.DropDownList("test", ViewBag.testList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="test" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="femage_1" class="control-label"></label>
                <input asp-for="femage_1" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="femage_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="femage_2" class="control-label"></label>
                <input asp-for="femage_2" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="femage_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fage1_pos" class="control-label"></label>
                <input asp-for="fage1_pos" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="fage1_pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fage2_pos" class="control-label"></label>
                <input asp-for="fage2_pos" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="fage2_pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

