@model IEnumerable<nadis.Models.CtVet1b>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Записи</h1>
<p>
     <a asp-action="Create">Создать новый</a>
</p>
<table class="table table-striped table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.repMO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KIDdivDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtObs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KIDspcDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KIDdisDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.testDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.femage_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.femage_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fage1_pos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fage2_pos)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => tmp.RepMO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.KIDdivDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.dtObs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.KIDspcDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.KIDdisDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.testDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.femage_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.femage_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.fage1_pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.fage2_pos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@tmp.ID">Редак.</a>&nbsp;&nbsp;<a asp-action="Delete" asp-route-id="@tmp.ID">Удал.</a>
                <!--

                        <img src="~/img/edit.png" width="20%" />
                            <img src="~/img/delete.png" width="20%" />
        <a asp-action="Details" asp-route-id="@tmp.ID">Просм.</a>
        -->

            </td>
        </tr>
        }
    </tbody>
</table>