@model IEnumerable<nadis.Models.CtVet1b>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] mmm = new string[]{"янв","фев","мар",
                    "апр","май","июн",
                    "июл","авг","сен",
                    "окт","ноя","дек"
            };
}
<font color="red" size=18>@TempData["EM"]</font>

<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td><a asp-action="Create">Создать новый</a></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1b">
                <input type="submit" value="Отчет за месяц" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="inc">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1b">
                <input type="submit" value="Отчет нарастающий" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dtInc="dt"
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
    </form>
</td>
</tr>
</tbody>
</table>

<p>
</p>
<table class="table table-striped table-responsive-sm table-bordered table-sm">
    <thead align="center">
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.repMO)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDdivDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.dtObs)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDspcDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDdisDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.testDisplay)
            </th>
            <th colspan="3">Исследовано животных голов</th>
            <th colspan="3">Из них реагировало положительно</th>
        </tr>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.femage_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.femage_2)
            </th>
            <th>Всего</th>
            <th>
                @Html.DisplayNameFor(model => model.fage1_pos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fage2_pos)
            </th>
            <th>Всего</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
        <tr>
            <td>
                <!-- @Html.DisplayFor(modelItem => tmp.repMO) -->
                @(mmm[tmp.repMO.Month-1]+tmp.repMO.Year)
            </td>
            <td class="col-2.5">
                @Html.DisplayFor(modelItem => tmp.KIDdivDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.dtObs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.KIDspcDisplay)
            </td>
            <td class="col-1.7">
                @Html.DisplayFor(modelItem => tmp.KIDdisDisplay)
            </td>
            <td class="col-1.7">
                @Html.DisplayFor(modelItem => tmp.testDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.femage_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.femage_2)
            </td>
            <td>@(tmp.femage_1 + tmp.femage_2)</td>
            <td>
                @Html.DisplayFor(modelItem => tmp.fage1_pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tmp.fage2_pos)
            </td>
            <td>@(tmp.fage1_pos + tmp.fage2_pos)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@tmp.ID">Редак.</a><a asp-action="Delete" asp-route-id="@tmp.ID">Удал.</a>
            </td>
        </tr>
        }
    </tbody>
</table>