@model nadis.Models.CtVet1a
@{ 
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Information</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.repMO)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.KIDro)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.KIDdiv)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.KIDspc)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.KIDdis)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.pos_units)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.positives)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.dead)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.end_pos_units)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.end_pos_animals)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.culled)
        </dt>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редакт.</a>
    <a asp-action="Index">К списку</a>
</div>