@model IEnumerable<nadis.Models.CtVet1a>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] mmm = new string[]{"янв","фев","мар",
                    "апр","май","июн",
                    "июл","авг","сен",
                    "окт","ноя","дек"
            };
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<NadisLocale> _locale

<font color="red" size=18>@TempData["EM"]</font>
<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td><a asp-action="Create">Создать новый</a></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1a">
                <input type="submit" value="Отчет за месяц" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="inc">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1a">
                <input type="submit" value="Отчет нарастающий" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dtInc="dt"
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
    </form>
</td>
</tr>
</tbody>
</table>

<!--
<p><a asp-action="Create">Создать новый</a></p>  
    <div>
       <form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="submit" value="Отчет" asp-controller="CtVet1a"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" class="btn btn-success"/>
       </form>
    </div>
    -->
<p>
</p>
<table class="table table-sm table-striped table-responsive-sm table-bordered">
     <thead align="center">
         <tr>
             <th rowspan="2">
                @Html.DisplayNameFor(model => model.repMO)
             </th>
             <th rowspan="2">
                 @Html.DisplayNameFor(model => model.KIDdiv)
             </th>
             <th rowspan="2">
                 @Html.DisplayNameFor(model => model.KIDspc)
             </th>
             <th rowspan="2">
                 @Html.DisplayNameFor(model => model.KIDdis)
             </th>
             <th colspan="4">@_locale["Za_otch_periud"]</th>
             <th colspan="2">@_locale["Na_kon_periuda"]</th>
         </tr>
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.pos_units)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.positives)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.dead)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.culled)
             </th>             
             <th>
                 @Html.DisplayNameFor(model => model.end_pos_units)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.end_pos_animals)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.comments)
             </th>
         </tr>
     </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
            <tr>
                <td>
                    <!-- @Html.DisplayFor(modelItem => tmp.repMO)-->
                    @(mmm[tmp.repMO.Month-1]+tmp.repMO.Year)
                </td>
                <td class="col-2.5">
                    @Html.DisplayFor(modelItem => tmp.KIDdivDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.KIDspcDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.KIDdisDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.pos_units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.positives)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.dead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.culled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.end_pos_units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.end_pos_animals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.comments)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tmp.ID">Редак.</a><a asp-action="Delete" asp-route-id="@tmp.ID">Удал.</a>
                </td>
            </tr>
        }
    </tbody>
</table>