@model nadis.Models.CtVet1c
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>
<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepMO)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KIDdivDisplay)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KIDspcDisplay)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KIDdisDisplay)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KIDtrtDisplay)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.dtObs)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.tfemage1)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.tfemage2)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.tmalage1)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.tmalage2)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">К списку</a>
    </form>
</div>

