@model IEnumerable<nadis.Models.CtVet1c>
@{
    ViewData["Title"] = "BioPrep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] mmm = new string[]{"янв","фев","мар",
                    "апр","май","июн",
                    "июл","авг","сен",
                    "окт","ноя","дек"
            };
}

<font color="red" size=18>@TempData["EM"]</font>
<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td><a asp-action="Create">Создать новый</a></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1c">
                <input type="submit" value="Отчет за месяц" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="inc">
                <input type="hidden" id="ReportName" name="ReportName" value="ctVet1c">
                <input type="submit" value="Отчет нарастающий" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dtInc="dt"
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
    </form>
</td>
</tr>
</tbody>
</table>

<p>
</p>

<table class="table table-striped table-responsive-sm table-bordered table-sm">
    <thead align="center">
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.RepMO)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDdivDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.dtObs)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDspcDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDdisDisplay)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.KIDtrtDisplay)
            </th>
            <th colspan="2">Молодняк</th>
            <th colspan="2">Взрослые особи</th>
            <th rowspan="2">Всего</th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tmalage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tfemage1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.tmalage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tfemage2)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
            <tr>
                <td>
                   <!-- @Html.DisplayFor(modelItem => tmp.RepMO) -->
                    @(mmm[tmp.RepMO.Month-1]+tmp.RepMO.Year)
                </td>
                <td class="col-2.6">
                    @Html.DisplayFor(modelItem => tmp.KIDdivDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.dtObs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.KIDspcDisplay)
                </td>
                <td class="col-1.8">
                    @Html.DisplayFor(modelItem => tmp.KIDdisDisplay)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => tmp.KIDtrtDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.tmalage1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.tfemage1)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => tmp.tmalage2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.tfemage2)
                </td>
                <td>
                    @(tmp.tmalage1 + tmp.tmalage2 + tmp.tfemage1 + tmp.tfemage2)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tmp.ID">Редак.</a><a asp-action="Delete" asp-route-id="@tmp.ID">Удал.</a>
                </td>
            </tr>
        }
    </tbody>
</table>