@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome @ViewData["UserFullName"]</h1>
        <div>@ViewData["UserName"]</div>
        <div>@ViewData["KIDro"]</div>
        <div>@ViewData["Role"]</div>
        <div>@ViewData["reportDt"]</div>

        @if (@ViewData["Role"].ToString().Trim() == "Admin")
            {
                //<a asp-action="Register" asp-controller="Account">Регистрация</a>
                <a asp-action="UsersEdit" asp-controller="Account">Список пользователей</a>
            }

        <form asp-action="Logout" asp-controller="Account">
            <input type="submit" value="Выйти из системы">
        </form>

    </div>
