@model nadis.Models.BioPrep
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<font color="red" size=8>@TempData["EM"]</font>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="KIDro" />
            <input type="hidden" asp-for="Bylo"/>
            <div class="form-group">
                <label asp-for="RepMO" class="control-label"></label>
                @Html.DropDownList("RepMO", ViewBag.RepMoList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="RepMO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetPrepDisplay" class="control-label"></label>
                @Html.DropDownList("VetPrep", ViewBag.VetPrepList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="VetPrep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdIzmDisplay" class="control-label"></label>
                @Html.DropDownList("EdIzm", ViewBag.EdIzmList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="EdIzm" class="text-danger"></span>
            </div>

            <div  class="form-group">
                <label asp-for="Bylo" class="control-label"></label>
                <!--<input asp-for="Bylo" class="form-control" type="number" min="0" step="1" />-->
                @Html.DisplayFor(model => model.Bylo)
                <span asp-validation-for="Bylo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostupiloVsego" class="control-label"></label>
                <input asp-for="PostupiloVsego" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="PostupiloVsego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostupiloRazn" class="control-label"></label>
                <input asp-for="PostupiloRazn" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="PostupiloRazn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzrashodVsego" class="control-label"></label>
                <input asp-for="IzrashodVsego" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="IzrashodVsego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzrashodDrugoe" class="control-label"></label>
                <input asp-for="IzrashodDrugoe" class="form-control" type="number" min="0" step="1" />
                <span asp-validation-for="IzrashodDrugoe" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Ostatok_za_mesyac" class="control-label"></label>
                <!--<input asp-for="Bylo" class="form-control" type="number" min="0" step="1" />-->
                @Html.DisplayFor(model => model.Ostatok_za_mesyac)
                <span asp-validation-for="Ostatok_za_mesyac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" asp-route-id="@Model.ID" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

