@model IEnumerable<nadis.Models.BioPrep>
@{
    ViewData["Title"] = "BioPrep";
    Layout = "~/Views/Shared/_Layout.cshtml";
        string[] mmm = new string[]{"янв","фев","мар",
                    "апр","май","июн",
                    "июл","авг","сен",
                    "окт","ноя","дек"
            };
}
<font color="red" size=14>@TempData["EM"]</font>

<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td><a asp-action="Create">Создать новый</a></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="BioPrep">
                <input type="submit" value="Отчет за месяц" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>
<td><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="inc">
                <input type="hidden" id="ReportName" name="ReportName" value="BioPrep">
                <input type="submit" value="Отчет нарастающий" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dtInc="dt"
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
    </form>
</td>
</tr>
</tbody>
</table>

<p>
</p>

<table class="table table-sm table-striped table-responsive-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepMO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetPrepDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdIzmDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bylo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostupiloVsego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostupiloRazn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzrashodVsego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzrashodDrugoe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ostatok_za_mesyac)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmp in Model)
        {
            <tr>
                <td>
                    <!-- @Html.DisplayFor(modelItem => tmp.RepMO) -->
                    @(mmm[tmp.RepMO.Month-1]+tmp.RepMO.Year)
                </td>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => tmp.VetPrepDisplay)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => tmp.EdIzmDisplay)
                </td>
                <td>
                    <!--
                    @if(tmp.Bylo!=tmp.ByloPredMonth){
                        @Html.DisplayFor(modelItem => tmp.Bylo)
                        <font color='red'>
                            (@Html.DisplayFor(modelItem => tmp.ByloPredMonth))
                        </font>
                    } else {
                        @Html.DisplayFor(modelItem => tmp.Bylo)
                    }
                    -->
                    @Html.DisplayFor(modelItem => tmp.Bylo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.PostupiloVsego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.PostupiloRazn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.IzrashodVsego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.IzrashodDrugoe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tmp.Ostatok_za_mesyac)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tmp.ID">Редак.</a><a asp-action="Delete" asp-route-id="@tmp.ID">Удал.</a>
                </td>
            </tr>
        }
    </tbody>
</table>